# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno (credenciales)
.env
.env.*

# IDEs
.vscode/
.idea/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
